@media screen and (max-width: 1560px) {
  .heading-primary {
    font-size: 15rem;
  }
}
/* .img-area:hover .img1 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20rem;
  }

  .img-area:hover .img2 {
    top: -12rem;
    left: 0;
    width: 20rem;
  }

  .img-area:hover .img3 {
    top: 10rem;
    left: 0;
    width: 20rem;
  }*/
/* @media screen and (max-width: 800px) and (min-width: 451px) {
}
@media screen and (max-width: 800px) {
} */
